<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @photo.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Mood:</strong>
  <%= @photo.mood_id %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
